
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1488792630317'); /* IE9*/
  src: url('iconfont.eot?t=1488792630317') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1488792630317') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1488792630317') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1488792630317') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-19:before { content: "\f0059"; }

.icon-xinwen:before { content: "\e6c8"; }

.icon-10:before { content: "\f00b6"; }

.icon-baobiaoxinwen:before { content: "\e668"; }

.icon-github:before { content: "\e735"; }

.icon-xiangyou:before { content: "\e63f"; }

.icon-xiangxia:before { content: "\e633"; }

.icon-yonghu:before { content: "\e694"; }

.icon-chuangjian-copy:before { content: "\e632"; }

.icon-useradd:before { content: "\e8dc"; }

.icon-xinwen1:before { content: "\e66f"; }

.icon-xiaoxi:before { content: "\e6bd"; }

.icon-xiaoxi1:before { content: "\e66c"; }

